{
    margin: 0;
    padding: 0;
}
.header 
{
    height: 100vh;
    
}
.navbar--style
{
    box-shadow: 0 5px 10px #efefef;
}
.logo
{
    height: 48px;
    padding: 2px 10px;
}
.icon-bar{
    background: darkorange;
}
.li a{
    color: #333;
}
.img-responsive{
    height: 500px;
    width: 500px;
    align-items: center;
}
.big-text{
    font-size: 52px;
    margin: 20px 0px;
    color: rgb(198, 23, 143);
}
a.btn{
    margin: 30px 10px;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
}
a.btn-first{
    background-color: rgb(198, 23, 143);
    color: #fff;

}
a.btn-second{
    background: transparent;
    border: 1px solid rgb(198, 23, 143);
    color: #333;
}
a.btn:hover{
    background: none;
    border: none;
    color: #333;
    box-shadow: 5px 5px 10px #999;
    transition: 0.3s;
}
.banner-info, .banner-image{
    margin: 30px 0px;

}